// Simple colour names for a small project
// Might also use named colours such as cornflower-blue, depending on team convention and/or size of colour palette.

// IMPORTANT: Breakpoint changes must be reflected in tailwind config.
// -------------------------
    $beige: #f2ebdc;
    $black: #000000;
    $blue: #2d3a8c;
    $green: #3a755f;
    $grey_dark: #b0b0b0;
    $grey_light: #cbcbcb;
    $off_white: #f9f9f9;
    $white: #ffffff;
// -------------------------