$font-primary: var(--font-cabin);

$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

$font-sizes: (
    'h1':           var(--h1),
    'h2':           var(--h2),
    'h3':           var(--h3),
    'h4':           var(--h4),
    'h5':           var(--h5),
    'h6':           var(--h6),
    
    'small':        var(--font-small),
    'standard':     var(--font-standard),
    'large':        var(--font-large),
);

@mixin font-size($size, $important: null) {
    font-size: #{map-get($font-sizes, $size)} $important;
}

%heading {
    display: block;
    line-height: 1.25;
    
    &:first-child {
        margin-top: 0;
    }
}

%heading_1 {
    @extend %heading;
    @include font-size(h1);
    font-weight: $weight-bold;
}

%heading_2 {
    @extend %heading;
    @include font-size(h2);
    font-weight: $weight-bold;
}

%heading_3 {
    @extend %heading;
    @include font-size(h3);
    font-weight: $weight-bold;
}

%heading_4 {
    @extend %heading;
    @include font-size(h4);
    font-weight: $weight-semibold;
}

%heading_5 {
    @extend %heading;
    @include font-size(h5);
    font-weight: $weight-semibold;
}

%heading_6 {
    @extend %heading;
    @include font-size(h6);
    font-weight: $weight-semibold;
}