@use '@/styles/settings' as *;
@use '@/styles/utils' as *;

.color {
    --cp-border-color: #{$grey_light};

    $this: &;
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    position: relative;
    user-select: none;

    &_field {
        align-items: center;
        background: var(--color-hex);
        border: 1px solid var(--cp-border-color);
        content: '';
        display: flex;
        height: $checkbox_size;
        justify-content: center;
        position: relative;
        transition: $checkbox_transition;
        width: $checkbox_size;
        
        &:hover {
            --cp-border-color: var(--color-hex);

            filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
            opacity: 0.75;
        }
    }

    &_input {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        visibility: hidden;
    
        &:checked {
            & ~ #{$this}_field {
                --cp-border-color: #{$grey_dark};

                border: 2px solid var(--cp-border-color);
                pointer-events: none;
            }
        }
    }
}